body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  label, select, input, button, a {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  button, .btn {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover, .btn:hover {
    background-color: #218838;
  }
  
  #result {
    text-align: left;
    margin-top: 20px;
  }
  
  .recipe img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .recipe h3 {
    text-align: left;
  }
  